<div class="container-fluid">
  <div class="main-content mt-0 mb-0">
    <div class="row align-items-center title-border mt-0 mb-0">
      <div class="d-flex justify-content-between align-items-center">
        <i class="bi bi-arrow-left-circle"></i>
        <h2 class="h2 ml-2">{{ "Consultation-vente" | translate }}</h2>
      </div>
      <div class="col-auto ml-auto mt-0 mb-0">
        <button class="btn btn btn-warning btn-sm" (click)="onAddNewAchat()">
          <i class="bi bi-cart-plus"></i> {{ "Button.Add-New-vente" | translate }}
        </button>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row my-0">
          <div class="col-md-6 my-0 mt-0 mb-0">
            <form>
              <div class="form-group">
                <label for="text-input">{{"Details.client" | translate}} </label>
                <input type="text" class="form-control" id="text-input" />
              </div>
              <div class="form-group">
                <div class="form-group">
                  <label for="text-input">{{"Details.ref-search" | translate }}</label>
                  <input type="text" class="form-control" id="date-search" />
                </div>
              </div>
              <button type="submit" class="btn btn-success btn-sm mr-1">
                <i class="bi bi-search"></i>
                {{"Button.search" | translate }}
              </button>
            </form>
          </div>
          <div class="col-md-6 my-0 mt-0 mb-0">
            <div class="form-group">
              <div class="form-group">
                <label for="text-input">{{"Details.date-vente" | translate }}</label>
                <input type="date" class="form-control" id="date-search" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-0 mb-0">
      <div class="col-12 my-0">
        <div class="w-100 custom-table-container">
          <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="reference">
              <mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                class="custom-table-header"
                >{{ "Table.Ref" | translate }}</mat-header-cell
              >
              <mat-cell *matCellDef="let vente">{{ vente.reference }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="client">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                "Table.client" | translate
              }}</mat-header-cell>
              <mat-cell *matCellDef="let vente">{{ vente.client }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="total">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                "Table.Total_vente" | translate
              }}</mat-header-cell>
              <mat-cell *matCellDef="let vente">{{ vente.total }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="date">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                "Table.Date_vente" | translate
              }}</mat-header-cell>
              <mat-cell *matCellDef="let vente">{{ vente.date }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef>{{
                "Table.action" | translate
              }}</mat-header-cell>
              <mat-cell *matCellDef="let item">
                <i class="bi bi-pen mr-3" (click)="modifier()"></i>
                <i class="bi bi-printer mr-3" (click)="print()"></i>
                <i class="bi bi-eye mr-3" (click)="afficher()"></i>
                <i class="bi bi-trash mr-3" (click)="supprimer()"></i>
              </mat-cell>
            </ng-container>

            <mat-header-row
              *matHeaderRowDef="displayedColumns"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>
          <mat-paginator
            [pageSizeOptions]="[5, 10, 20]"
            [pageSize]="5"
            [length]="ventesTable.length"
          ></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
